<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MainPage</title>
    <link rel="stylesheet" href="webjars/layui/2.5.6/css/layui.css">
</head>
<body>
<script src="webjars/layui/2.5.6/layui.js"></script>
<div th:replace="include/navbar::navbar"></div>
<div class="layui-container">
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>设备ID</th>
        <th>设备名称</th>
        <th>实验室名称</th>
        <th>购买时间</th>
        <th>购买人</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="apparatus:${apparatuses}">
        <td th:text="${apparatus.apparaId}"></td>
        <td th:text="${apparatus.apparaName}"></td>
        <td th:text="${apparatus.labName}"></td>
        <td th:text="${#dates.format(apparatus.buyTime)}"></td>
        <td th:text="${apparatus.boughtBy}"></td>
        <td>
            <a class="layui-btn layui-btn-normal layui-btn-mini modify"
                th:href="@{modifyApparatus/__${apparatus.apparaId}__}">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-mini del"
               href="javascript:;" th:data-id="${apparatus.apparaId}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer'], function(){
        var layer = layui.layer;
        var $ = layui.jquery;

        $("a.del").click(function () {
            var id = $(this).data("id");
            layer.confirm("删除该设备，无法恢复", {'title': '删除确认'}, function(index){
                layer.close(index);
                $.get("delete/"+id);
                setTimeout(function () {
                    location.reload();
                }, 100)
            })
        })
    });
</script>
</body>
</html>